<div class="container">
    <div class="row" > 
        <div class=" col-lg-3 col-md-6 col-sm-12" *ngFor="let item of dets; let i=index">
            <ng-container *ngIf="item.status===true; else elseTemplate">
                <div class="card text-white bg-success m-1" > 
                    <div class="card-body" >
                        <h5 class="card-title">{{item.id}} </h5>
                        <p class="card-text">{{item.name}}</p>
                        <p class="card-text">{{item.status}}</p>
                        <a href="#" class="btn btn-light delete-btn" (click)="dets.splice(i,1)">Удалить</a>
                    </div>
                </div>   
            </ng-container>
            <ng-template #elseTemplate>
                <div class="card text-white bg-danger m-1" > 
                    <div class="card-body" >
                        <h5 class="card-title">{{item.id}} </h5>
                        <p class="card-text">{{item.name}}</p>
                        <p class="card-text">{{item.status}}</p>
                        <a href="#" class="btn btn-light delete-btn" (click)="dets.splice(i,1)">Удалить</a>
                    </div>
                </div>    
            </ng-template>  
        </div>
    </div>
</div>  
<div class="container mt-4">
    <div class="row">
        <form (submit)="addDet(inputCard.value)">
            <h5>Добавление нового датчика</h5>
            <div class="form-group">
                <label for="nameInput">Имя</label>
                <input type="text" class="form-control" id="nameInput" #inputCard>
            </div>
              <button type="submit" class="btn btn-primary mt-3">Добавить</button>
        </form>         
    </div> 
</div>